@media only screen
  and (min-device-width: 279px)
  and (max-device-width: 480px){
    .logo {
        height: 105px;
        width: 253px;
    }
    .menu{
        flex-direction: column;
    }
    .list {
        text-align: center;
        font-size: 16px;
    }
    .slider{
        background: none;
        border: none;
        margin-bottom: 30px;
    }
    .slider p:nth-of-type(1),
    .slider p:nth-of-type(2),
    .slider p:nth-of-type(3),
    .slider p:nth-of-type(4),
    .slider p:nth-of-type(5),
    .slider p:nth-of-type(6),
    .slider p:nth-of-type(7),
    .slider p:nth-of-type(8),
    .slider p:nth-of-type(9),
    .slider p:nth-of-type(10){
        top: 350px;
        width: 100%;
        margin: 0 auto;
        color: white;
        background: rgb(0, 0, 0);
        border-radius: 10px;
        font-size: 12px;
    }
    @keyframes anim-1 {
        0%, 5% { left: -100%; opacity: 0; }
       5%, 8% { left: 0%; opacity: 1; }
       10%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-2 {
        0%, 10% { left: -100%; opacity: 0; }
       12%, 18% { left: 0%; opacity: 1; }
       20%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-3 {
        0%, 20% { left: -100%; opacity: 0; }
       22%, 28% { left: 0%; opacity: 1; }
       30%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-4 {
        0%, 30% { left: -100%; opacity: 0; }
       32%, 38% { left: 0%; opacity: 1; }
       40%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-5 {
        0%, 40% { left: -100%; opacity: 0; }
       42%, 48% { left: 0%; opacity: 1;}
       50%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-6 {
        0%, 50% { left: -100%; opacity: 0; }
       52%, 58% { left: 0%; opacity: 1; }
       60%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-7 {
        0%, 60% { left: -100%; opacity: 0; }
       62%, 68% { left: 0%; opacity: 1; }
       70%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-8 {
        0%, 70% { left: -100%; opacity: 0; }
       72%, 78% { left: 0%; opacity: 1; }
       80%, 100% { left: 50%; opacity: 0; }
     }
     @keyframes anim-9 {
        0%, 80% { left: -100%; opacity: 0; }
       82%, 88% { left: 0%; opacity: 1; }
       90%, 100% { left: 50%; opacity: 0; }
     } 
     @keyframes anim-10 {
        0%, 90% { left: -100%; opacity: 0; }
       92%, 98% { left: 0%; opacity: 1; }
       100%, 100% { left: 50%; opacity: 0; }
     } 
    h1 {
        font-size: 18px;
    }
    .common-text,
    .container p {
        font-size: 12px;
    }
    .ch-cont--char{
        flex-wrap: wrap;
    }
    .ch-cont--char img {
        width: 275px;
        height: auto;
        margin: 0 auto;
    }
    .votecenter {
        width: 153px;
    }
    .v-b_flex label{
        font-size: 18px;
    }
    .upbutton,
    .arrup {
        left: 2%;
        top: 96%;
        width: 32px;
        height: 32px;
    }
  }
@media screen and (min-device-width: 481px)
              and (max-device-width: 819px){
    .logo,
    .logo img{
        width: 480px;
        height: auto;
        padding: 0;
    }
    .menu{
        flex-direction: column;
    }
    .list {
        text-align: center;
        font-size: 18px;
    }
    .slider{
        background: none;
        border: none;
        margin-bottom: 30px;
    }
    .slider p:nth-of-type(1),
    .slider p:nth-of-type(2),
    .slider p:nth-of-type(3),
    .slider p:nth-of-type(4),
    .slider p:nth-of-type(5),
    .slider p:nth-of-type(6),
    .slider p:nth-of-type(7),
    .slider p:nth-of-type(8),
    .slider p:nth-of-type(9),
    .slider p:nth-of-type(10){
        top: 380px;
        width: 50%;
        margin: 0 auto;
        color: white;
        background: rgb(0, 0, 0);
        border-radius: 10px;
        font-size: 12px;
        border: 15px solid black;
    }
    .common-text,
    .container p {
        font-size: 14px;
    }
    .ch-cont--char{
        flex-wrap: wrap;
    }
    .ch-cont--char img {
        
        height: auto;
        margin: 0 auto;
    }
    .upbutton,
    .arrup {
        left: 2%;
        top: 92%;
        width: 32px;
        height: 32px;
    }
  }
@media screen and (min-width: 820px) 
              and (max-width: 1015px) {
    .list1 {
        flex:2;
    }
    .slider{
        background: none;
        border: none;
        margin-bottom: 28px;
    }
    .slider p:nth-of-type(1),
    .slider p:nth-of-type(2),
    .slider p:nth-of-type(3),
    .slider p:nth-of-type(4),
    .slider p:nth-of-type(5),
    .slider p:nth-of-type(6),
    .slider p:nth-of-type(7),
    .slider p:nth-of-type(8),
    .slider p:nth-of-type(9),
    .slider p:nth-of-type(10){
        top: 340px;
        margin: 0 auto;
        color: white;
        background: rgb(0, 0, 0);
        border-radius: 10px;
    }
    h1 {
        font-size: 24px;
    }
    .upbutton, 
    .arrup{
        width: 55px;
        height: 55px;
    }
    .common-text,
    .container p {
        font-size: 16px;
    }
}
@media screen and (min-width: 2050px) {
    .menu {
        width: 60%;
        margin: 0 auto;
    }
    .logo {
        height: 400px;
        padding: 10px;
    }
    .list {
        font-size: 30px;
    }
    .list1 {
        flex:2;
    }
    .slider {
        margin: 10px 20%;
        height: 70px;
        background: rgba(78, 58, 58, .7);
        border: 1px solid black;
        border-radius: 10px;
        
    }
    .slider p:nth-of-type(1),
    .slider p:nth-of-type(2),
    .slider p:nth-of-type(3),
    .slider p:nth-of-type(4),
    .slider p:nth-of-type(5),
    .slider p:nth-of-type(6),
    .slider p:nth-of-type(7),
    .slider p:nth-of-type(8),
    .slider p:nth-of-type(9),
    .slider p:nth-of-type(10) {
        top: 480px; 
        font-size: 22px;
    }
    h1{
        font-size: 35px;
    }
    .common-text,
    .container p {
        line-height: 28px;
        letter-spacing: 3px;
        font-size: 24px;
    }
    .uppertext {
        font-size: x-large;
    }
    .v-b_flex {
        width: 500px;
        letter-spacing: 6px;
    }
    .ch-cont--char img {
    margin-top: 55px;
    }
    .votecenter {
        width: 385px;
    }
}