.slider{
    margin: 10px 20%;
    height: 48px;
    background: rgba(78, 58, 58, .7);
    border: 1px solid black;
    border-radius: 10px;
 }
 .slider p:nth-of-type(1){
   animation-name: anim-1;
}
.slider p:nth-of-type(2){
   animation-name: anim-2;
}
.slider p:nth-of-type(3){
   animation-name: anim-3;
}
.slider p:nth-of-type(4){
   animation-name: anim-4;
}
.slider p:nth-of-type(5){
   animation-name: anim-5;
}
.slider p:nth-of-type(6){
   animation-name: anim-6;
}
.slider p:nth-of-type(7){
   animation-name: anim-7;
}
.slider p:nth-of-type(8){
   animation-name: anim-8;
}
.slider p:nth-of-type(9){
   animation-name: anim-9;
}
.slider p:nth-of-type(10){
   animation-name: anim-10;
}
 .slider p:nth-of-type(1),
 .slider p:nth-of-type(2),
 .slider p:nth-of-type(3),
 .slider p:nth-of-type(4),
 .slider p:nth-of-type(5),
 .slider p:nth-of-type(6),
 .slider p:nth-of-type(7),
 .slider p:nth-of-type(8),
 .slider p:nth-of-type(9),
 .slider p:nth-of-type(10) {
    position: absolute;
    display: block;
    top: 328px;
    text-align: center;
    color: white;
    width: 50%;
    font-size: 16px;
    animation-duration: 60s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
 }
 @keyframes anim-1 {
    0%, 5% { left: -100%; opacity: 0; }
   5%,8% { left: 25%; opacity: 1; }
   10%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-2 {
    0%, 10% { left: -100%; opacity: 0; }
   12%, 18% { left: 25%; opacity: 1; }
   20%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-3 {
    0%, 20% { left: -100%; opacity: 0; }
   22%, 28% { left: 25%; opacity: 1; }
   30%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-4 {
    0%, 30% { left: -100%; opacity: 0; }
   32%, 38% { left: 25%; opacity: 1; }
   40%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-5 {
    0%, 40% { left: -100%; opacity: 0; }
   42%, 48% { left: 25%; opacity: 1;}
   50%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-6 {
    0%, 50% { left: -100%; opacity: 0; }
   52%, 58% { left: 25%; opacity: 1; }
   60%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-7 {
    0%, 60% { left: -100%; opacity: 0; }
   62%, 68% { left: 25%; opacity: 1; }
   70%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-8 {
    0%, 70% { left: -100%; opacity: 0; }
   72%, 78% { left: 25%; opacity: 1; }
   80%, 100% { left: 50%; opacity: 0; }
 }
 @keyframes anim-9 {
    0%, 80% { left: -100%; opacity: 0; }
   82%, 88% { left: 25%; opacity: 1; }
   90%, 100% { left: 50%; opacity: 0; }
 } 
 @keyframes anim-10 {
    0%, 90% { left: -100%; opacity: 0; }
   92%, 98% { left: 25%; opacity: 1; }
   100%, 100% { left: 50%; opacity: 0; }
 } 
 